// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import 'reset.scss';
@import 'main.scss';
@import 'opening.scss';
@import 'user.scss';

@font-face {
    font-family: 'dot-12';
    src: url(../font/KH-Dot-Dougenzaka-12.ttf)
}

@font-face {
    font-family: 'dot-16';
    src: url(../font/KH-Dot-Dougenzaka-16.ttf)
}