@charset "UTF-8";

html{
    font-size: 62.5%;
}

body{
    color: #666;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    color: #d03c56;
    text-decoration: none;
}

.header {
    padding: 28px 0px 10px;
    background: url('../images/bg-header.gif') repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
    .logo {
        width: 225px;
        height: 56px;
        margin: 0 auto;
        text-align: center;
        font-size: 2rem;
        background: url('../images/logo.png') no-repeat;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        .a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .header-menu {
        margin-top: 15px;
        text-align: center;
        .menu-item {
            display: inline-block;
            margin: 0 10px;
            a {
                display: inline-block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 8px;
                color: #666;
                font-size: 1.3rem;
                letter-spacing: 1px;
                transition: 0.15s;
            }
        }
        .menu-item.active a,
        .menu-item a:hover{
                background-color: #d03c56;
                color: #fff;
        }
    }
}

.wrapper {
    width: 970px;
    margin: 30px auto 40px;
    .main {
        display: block;
         float: left;
        margin: auto;
        width: 660px;
        .overview {
            display: block;
            height: 300px;
            margin-bottom: 30px;
            box-shadow: 0 6px -4px rgba(0, 0, 0, 0.15);
            transition: opacity 0.15s;
            .image {
                float: left;
                width: 50%;
                height: 100%;

            }
            .content {
                position: relative;
                float: left;
                width: 50%;
                height: 100%;
                padding: 105px 25px 0;
                background-color: #2d3d54;
                line-height: 1.6;
                .title {
                    margin-bottom: 15px;
                    color: #fff;
                    font-weight: normal;
                    font-size: 2.0rem;
                }
                .desc {
                    color: #ddc;
                }
                .date {
                    position: absolute;
                    top: 60px;
                    left: 0;
                    width: 140px;
                    padding: 4px;
                    background-color: #fff;
                    color: #2d3d54;
                    text-align: center;
                    letter-spacing: 1px;
                    font-weight: bold;
                    font-size: 1.1rem;
                    line-height: 1;
                }
            }
        }
        .overview:hover {
            opacity: 0.85;
        }
    }
    // NEWSスタイル
    .heading {
        margin: 0;
        padding: 10px 12px;
        background: url('../images/bg-slash.gif');
        letter-spacing: 1px;
        font-size: 1.6rem;
    }
    .scroll-list {
        max-height: 220px;
        overflow-y: auto;
        margin-bottom: 30px;
        list-style-type: none;
        .scroll-item {
            // 偶数アイテム
            a {
                display: block;
                padding: 10px 15px;
                color: #333;
                font-size: 0;
                transition: background-color 0.1s;
            }
            // 奇数アイテム
            &:nth-of-type(even) a {
                    background: url('../images/bg-slash.gif');
            }
            // ホバー時に発光
            a:hover {
                background-color: #fafaf8;
            }
            .date {
                display: inline-block;
                width: 19%;
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 1.0rem;
            }
            .category {
                display: inline-block;
                width: 8%;
                border-radius: 5px;
                background-color: #d03c56;
                color: #fff;
                text-align: center;
                letter-spacing: 1px;
                font-size: 1.0rem;
                line-height: 16px;
            }
            .title {
                display: inline-block;
                width: 73%;
                padding-left: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 1.2rem;
            }
            .news {
                background-color: #2c3c53;
            }
        }
    }
    // ARTICLESスタイル
    .article-box{
        position: relative;
        display: block;
        width: 315px;
        height: 360px;
        margin-bottom: 30px;
        padding: 210px 15px 0;
        box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
        transition: opacity 0.15s;
        // hover時に発光
        &:hover {
            opacity: 0.8;
        }
        // 奇数記事は左寄せ
        &:nth-of-type(odd) {
            float: left;
        }
        // 偶数記事は右寄せ
        &:nth-of-type(even) {
            float: right;
        }
        .title {
            margin-top: 30px;
            color: #555;
            font-size: 1.4rem;
            line-height: 1.6;
        }
        .desc {
            margin-top: 5px;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .date {
            position: absolute;
            right: 0;
            bottom: 15px;
            display: block;
            width: 160px;
            padding: 4px;
            background-color: #b5d264;
            color: #2d3d54;
            text-align: center;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 1.1rem;
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    .sidemenu {
        float: right;
        width: 270px;
    }
}


.footer {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}



// .header, .content, .sidebar, .footer {
//     border: 1px solid #aaa;
//     background-color: #ccc;
// }



// body {
//     margin:0px;
// }
//
// .navbar {
//     box-shadow: 0px 4px 4px lightgray;
// }
//
// .menu-list {
//     margin: 0px;
//     padding: 0px;
//     list-style-type: none;
// }
//
// .sidebar {
//     float: right;
//     padding-bottom: 100%;
//     background-color: lightblue;
// }
//
// .sidebar-menu {
//     position: sticky;
//     color: red;
//     margin: 10px;
// }
//
// .content {
//     margin: 10px;
// }
//
// .task-list{
//     border: double;
//     margin:5px;
//     th{
//         padding: 5px;
//         border: ridge;
//         text-align: center;
//     }
//     td {
//         padding: 5px;
//         border: ridge;
//     }
// }
