.header {
    width: 100%;
}

.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}

.content {
    display: block;
    float: left;
    width: 660px;
}

.sidebar {
    float: right;
    width: 270px;
}

.footer {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.header, .content, .sidebar, .footer {
    border: 1px solid #aaa;
    background-color: #ccc;
}



// body {
//     margin:0px;
// }
//
// .navbar {
//     box-shadow: 0px 4px 4px lightgray;
// }
//
// .menu-list {
//     margin: 0px;
//     padding: 0px;
//     list-style-type: none;
// }
//
// .sidebar {
//     float: right;
//     padding-bottom: 100%;
//     background-color: lightblue;
// }
//
// .sidebar-menu {
//     position: sticky;
//     color: red;
//     margin: 10px;
// }
//
// .content {
//     margin: 10px;
// }
//
// .task-list{
//     border: double;
//     margin:5px;
//     th{
//         padding: 5px;
//         border: ridge;
//         text-align: center;
//     }
//     td {
//         padding: 5px;
//         border: ridge;
//     }
// }
