@charset "UTF-8";

body {
    background-color: #222;
    .header {
        min-width: 300px;
        text-align: center;
        background-color: #4bf;
        .logo {
            // ロゴ画像サイズに合わせる。
            width: 224px;
            height: 56px;
            background-image: url('/images/logo.png');
            background-size:  cover;
            // 要素を中央揃え
            margin: auto;
            // テキストを非表示
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
        .header-menu {
            background: rgba(255, 255, 255, 0.2);
            .menu-item {
                width: 100px;
                height: 40px;
                display: inline-block;
                a {
                    width: 100px;
                    height: 40px;
                    margin: 0 0;
                    padding: 9px 0px;
                    display: inline-block;
                    font-size: 1.6rem;
                    color: black;
                    font-weight: 600;
                    transition: opacity background-color 0.2s;
                    &:hover {
                        background-color: white;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    
    .main {
        margin: 0px;
        .card {
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            padding: 10px;
            width: 400px;
            font-size: 1.8rem;
            color: #fff;
            border: 9px double #ddd;
            border-radius: 10px 10px 10px 10px;
            .card-header {
                font-size: 1.6rem;
                // height: 0;
                border-bottom: 3px solid #888;
            }
            // .line {
            //     height: 0;
            //     border-top: 3px solid #888;
            // }
            label, a {
                font-size: 1.4rem;
            }
            input {
                width: 100%;
            }
            select {
                width: 100%;
            }
            .button {
                width: auto;
                margin-top: 10px;
            }
            .form-check-input {
                width: auto;
            }
            .link {
                color: #fff;
                text-decoration: underline;
                font-size: 1.4rem;
            }
            .errors {
                font-size: 1.2rem;
                background-color: #faa
            }
        }
    }
    .footer {
        margin-top: 10px;
    }
}
