.field {
    width: 100%;
    overflow-x: scroll;
    .sporn-area {
        width: 3000px;
        height: auto;
        background-color: #386;
        display: flex;
        .hero {
            flex: 0 0 50px;
            height: 50px;
            background-color: #368;
            // 位置決めのマージン
            margin: 50px 20px 0 50px;
        }
        .day1 {
            flex: 0 0 100px;
            height: 200px;
            margin-left: 0px;
            background-color: #275;
            .monster {
                width: 50px;
                height: 50px;
                background-color: #863;
                float: left;
                // 位置決めのマージン
                margin-top: 0px;
                margin-left: 0px;
            }
        }
    }
}
